.community-pizza-form .mainHeading {
    text-transform: uppercase;
    margin: 2em 0 60px;
}

#return-user-heading {
    font-size:20px;
    line-height:25px;
    color:#fff;
    margin:1.5em 0 0;
}

.community-pizza-form h2 {
    font-size:24px;
    line-height:30px;
    font-weight:bold;
    color:#fff;
    margin-bottom:32px;
}

.community-pizza-form form {
    display:flex;
    flex-direction:column;
    color:#fff;
    margin-bottom:50px;
}

    .community-pizza-form form label.instructions {
        font-size:12px;
        line-height:15px;
        font-weight: 300;
    }
    .community-pizza-form form label.instructions:first-child {
        margin-bottom:16px;
    }

    #image-upload {
        width:100%;
        height:0;
        padding-bottom:100%;
        border-radius: 10px;
        margin-top:16px;
        position:relative;
        overflow:hidden;
    }
        #pizza-container {
            width:100%;
            height:100%;
            border: 1px solid #292437;
            position:absolute;
            top:0;
            left:0;
        }
            #pizza-container img {
                display:block;
            }
                img#pizza-template {
                    position:relative;
                    z-index:5;
                }
                img#user-image {
                    width:100%;
                    height:100%;
                    object-fit:cover;
                    position:absolute;
                    top:0;
                    left:0;
                }

            #pizza-container svg {
                position:absolute;
                left:0;
                top:0;
                z-index:10;
            }
                #pizza-container svg text {
                    font-family:'Rubik', sans-serif;
                    font-size:25px;
                    text-transform:uppercase;
                }

        #file-input {
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
        }
            #file-input label {
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:center;
                width:27%;
                height:27%;
                font-size:12px;
                text-align:center;
                cursor:pointer;
                z-index:10;
                position:relative;
            }
                #file-input input {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                    #file-input label strong {
                        display:block;
                        margin-top:15px;
                    }
                        #file-input label:hover strong {
                            text-decoration:underline;
                        }
                    #file-input label:before {
                        display:block;
                        content:"";
                        width:100%;
                        height:100%;
                        opacity: 0.4;
                        border: 2px dashed rgba(255,255,255,0.4);
                        border-radius: 5px;
                        position:absolute;
                        top:50%;
                        left:50%;
                        transform:translateX(-50%) translateY(-50%);
                    }
                #file-input .upload-arrow {
                    width:30px;
                }

    .form-fields {
        display:flex;
        flex-direction:column;
        row-gap:30px;
        margin-top:30px;
    }
        .form-fields__row {
            flex-direction:row;
            justify-content:space-between;
        }
        #pizza-form label.small {
            display:flex;
            align-items:center;
            margin-top:-25px;
        }
            #pizza-form label.small span {
                display:inline-block;
                margin-left:5px;
            }

        #pizza-form label.radio-label {
            font-size:14px;
            font-weight:bold;
            cursor:pointer;
        }
            #pizza-form label.radio-label.disabled {
                cursor:not-allowed;
            }
            #pizza-form label.radio-label.unselected {
                opacity:.5;
            }

        #pizza-form .checkbox-label__inner {
            display:flex;
            flex-direction:row-reverse;
            align-items:center;
            position:relative;
            user-select: none;
            cursor:pointer;
        }
            #pizza-form label.checkbox-label a {
                color:white;
                text-decoration:underline;
            }
            #pizza-form label.checkbox-label input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            #pizza-form span.checkmark {
                display:block;
                height: 32px;
                width: 32px;
                background: #292437;
                border-radius: 10px;
                flex-shrink:0;
                position:relative;
                margin-right:16px;
            }
                #pizza-form input:checked ~ .checkmark:after {
                    content:"";
                    display:block;
                    width:18px;
                    height:12px;
                    background-image: url("../img/checkmark.svg");
                    background-size:cover;
                    background-repeat:no-repeat;
                    position:absolute;
                    left:50%;
                    top:50%;
                    transform:translateX(-50%) translateY(-50%);
                }

        #pizza-form label.error {
            align-self:flex-start;
            margin-top:.5rem;
            color:red;
            border:1px solid red;
            padding:0 5px;
        }

        #pizza-form label.submit-label {
            text-align:center;
        }

        #pizza-form .select2-container, #pizza-form input[type="text"], #pizza-form textarea {
            display:block;
            width:100%;
            height:34px;
            line-height:34px;
            background: #292437;
            color: #fff;
            font-weight:bold;
            border:none;
            border-radius: 10px;
            margin-top:16px;
            padding:0 16px;
            outline:none;
            -webkit-appearance: none;
            appearance: none;
        }
        #pizza-form input[type="radio"] {
            display:none;
        }
        #pizza-form textarea {
            height:auto;
        }
        #pizza-form select {
            background-image:url(/img/dropdown-arrow.svg);
            background-repeat:no-repeat;
            background-position:calc(100% - 15px) center;
        }
            #pizza-form select.error, #pizza-form input[type="text"].error, #pizza-form textarea.error {
                border:1px solid red;
            }
        #pizza-form #submit-form {
            max-width:145px;
            margin-top:0;
        }

        /* Select 2 overrides */
        .select2-container--default .select2-selection--single {
            background:none;
            border:none;
            border-radius:0;
        }
        .select2-container .select2-selection--single {
            height:34px;
        }
            .select2-container .select2-selection--single .select2-selection__rendered {
                padding:0;
                line-height:34px;
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                color:#fff;
            }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height:34px;
            width:14px;
        }
            .select2-container--default .select2-selection--single .select2-selection__arrow b {
                width:14px;
                height:7px;
                border:none;
                background-image:url(/img/dropdown-arrow.svg);
                background-size: cover;
                background-repeat: no-repeat;
                margin: 0;
                left: initial;
                right:16px;
                transform: translateY(-50%);
                transform-origin: top;
                transition:.3s all ease-in-out;
            }
                .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
                    transform: rotate(-90deg) translateY(-50%);
                }

        .select2-dropdown {
            background:none;
            border:none;
        }
        .select2-results {
            background:#292437;
            border-radius: 10px;
            overflow:hidden;
            margin-top:5px;
        }
        .select2-results__option {
            display:flex;
            width:100%;
            justify-content:space-between;
            align-items:center;
            min-height:48px;
            color:#fff;
            padding:8px 16px;
        }
            .select2-results__option img {
                width:32px;
            }
            .select2-container--default .select2-results__option--disabled {
                display:none;
            }
            .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable, .select2-container--default .select2-results__option--selected {
                background:#110F17;
            }

#pizza-comp {
    width:1000px;
    height:1000px;
    position:absolute;
    right:200%;
}

/* Mint Header */
#mint-header h1 {
    margin-bottom:0;
}
#mint-header p {
    color:#fff;
    font-weight:300;
    text-align:center;
    margin:40px 0 0;
}

/* Mint Nav */
#mint-nav ol {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:40px;
    list-style-type:none;
    padding:0;
    margin:40px 0;
    position:relative;
}
    #mint-nav ol:before, #mint-nav ol:after {
        content:"";
        display:block;
        width:calc(100% - 32px);
        height:3px;
        background-color:#4A4555;
        position:absolute;
        top:50%;
        left:20px;
        transform:translateY(-50%);
        z-index:-2;
    }
        #mint-nav ol:after {
            background-color:#FAEDD7;
            width:0;
            transition:all .5s ease-in-out;
        }
        #mint-nav ol[data-step="2"]:after {
            width:calc(100% / 3);
        }
        #mint-nav ol[data-step="3"]:after {
            width:calc(100% / 3 * 2 - 20px);
            /*width:calc(125% / 2);*/
        }
        #mint-nav ol[data-step="4"]:after {
            width:calc(100% - 30px);
        }

#mint-nav li {
   
}
    #mint-nav li a {
        display:flex;
        align-items:center;
        justify-content:center;
        width:40px;
        height:40px;
        font-size:16px;
        line-height:24px;
        font-weight:bold;
        color:#ADA9B1;
        text-decoration:none;
        overflow:hidden;
        position:relative;
        transition:all .5s ease-in-out;
        cursor:not-allowed;
    }
        #mint-nav li a.active-step {
            cursor:default;
        }
        #mint-nav li a.previous-step {
            color:#050407;
            cursor:pointer;
        }
            #mint-nav li a.previous-step:before {
                background-color:#FAEDD7;
            }
        #mint-nav li a:before {
            content:"";
            display:block;
            width:32px;
            height:32px;
            border-radius:40px;
            background-color:#4A4555;
            position:absolute;
            top:50%;
            left:50%;
            transform:translateX(-50%) translateY(-50%);
            transition:all .5s ease-in-out;
            z-index:-1;
        }
        #mint-nav li a.previous-step:hover, #mint-nav li a.active-step {
            font-size:24px;
            color:#050407;
        }
            #mint-nav li a.previous-step:hover:before, #mint-nav li a.active-step:before {
                width:40px;
                height:40px;
                background-color:#FAEDD7;
            }

/* Mint Sections */
.mint-section {
    display:none;
}
    .mint-section.active-step {
        display:block;
    }


/* Mint Form Buttons */
#mint-section-buttons {
    display:flex;
    flex-direction:column;
}
    #mint-section-buttons a.mainBtn {
        display:block;
        width:auto;
        margin:30px auto 0;
        padding-left:40px;
        padding-right:40px;
        align-self:center;
    }
        #mint-section-buttons a.mainBtn:nth-child(2) {
            margin-top:40px;
        }
        #mint-section-buttons a#next-step {
            display:none;
        }
    
    #mint-section-buttons span.prev-purchased {
        display:none;
        margin-top:15px;
    }

/* Step 1 */
section[data-step="1"] label.radio-label {
    width:calc(25% - 8px);
}
    section[data-step="1"] label.radio-label img {
        border: 1px solid #292437;
        border-radius: 10px;
        margin-top:10px;
    }
        section[data-step="1"] label.radio-label input:checked + img{ 
            border: 1px solid #fdc500;
            box-shadow: 0px 0px 10px #ff1f00;
        }

.token-cost {
    display:flex;
    align-items:center;
    width:100%;
}
    .token-cost i {
        display:inline-block;
        width:16px;
        height:16px;
        background-image:url("../img/bpac-sm-icon.svg");
        background-size:cover;
        background-repeat:no-repeat;
    }

/* Step 2 */
section[data-step="2"] label {
    display:flex;
    width:100%;
}
    section[data-step="2"] label div {
        width:100%;
    }

section[data-step="2"] .token-preview {
    display:none;
    width:100px;
    height:100px;
    margin-left:40px;
    flex-shrink:0;
}
    section[data-step="2"] .token-preview img {
        width:100%;
        border: 1px solid #fdc500;
        box-shadow: 0px 0px 10px #ff1f00;
    }

/* Step 4 */
.submit-checkmark {
    display:block;
    width:36px;
    height:25px;
    background-image:url("../img/check.svg");
    background-size:cover;
    background-repeat:no-repeat;
    margin:0 auto 24px;
}
.image-preview {
    display:block;
    width:200px;
    height:200px;
    margin:0 auto;
    border: 1px solid #292437;
    border-radius: 10px;
    margin-bottom:24px;
    overflow:hidden;
}
    .image-preview img {
        width:100%;
    }

/* Pizza Oven */
#pizza-oven {
    color:#fff;
}
.pizza-oven-headings > *, .pizza-item-container > * {
    display:flex;
    width:calc(65% / 4);
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
    .pizza-oven-headings > div:nth-child(3), .pizza-item-container > div:nth-child(3) {
        display:none;
    }
@media only screen and (max-width: 991px) {
    .pizza-oven-headings > div:nth-child(2), .pizza-item-container > div:nth-child(2) {
        display:none;
    }
    .pizza-item-container > *:first-child {
        justify-content:center;
    }
}
@media only screen and (min-width: 992px) {
    .pizza-oven-headings > *:first-child, .pizza-item-container > *:first-child {
        width:35%;
    }
}
.pizza-oven-headings {
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-between;
    padding:16px 0;
    border-bottom: 1px solid #4A4555;
}
.pizza-item-container {
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-between;
    padding:8px 0;
    border-bottom: 1px solid #292437;
}
    .pizza-item {
        justify-content:space-between;
    }
        .token-image {
            width:80px;
            height:80px;
            border: 1px solid #292437;
            border-radius: 10px;
            flex-shrink:0;
        }
        .token-name {
            width:40%;
            display:none;
        }
        @media only screen and (min-width: 992px) {
            .token-name {
                display:block;
            }
        }
        a.oven-btn {
            width:auto;
            font-size:12px;
            text-transform:uppercase;
            padding:8px;
            margin:0 30px 0 0;
        }
        @media only screen and (max-width: 991px) {
            .pizza-item a.oven-btn {
                margin:15px auto 0;
            }
        }

    .pizza-status {
        flex-wrap:nowrap;
    }
        .oven-btns {
            display:flex;
            align-items:center;
            justify-content:center;
        }
        .pizza-status a.oven-btn {
            margin:0 0 0 15px;
        }
        @media only screen and (max-width: 991px) {
            .oven-btns {
                flex-direction:column;
                margin-left:15px;
            }
            .pizza-status .oven-btns a.oven-btn {
                margin:15px 0 0;
            }
                .pizza-status .oven-btns a.oven-btn:first-child {
                    margin-top:0;
                }
        }
        .pizza-status span {
            display:block;
            margin-left:5px;
        }
        .pizza-status i {
            display:inline-block;
            width:12px;
            height:12px;
            border-radius:12px;
            flex-shrink:0;
        }
            .pizza-status.status-approved i, .pizza-status.status-active i {
                background: #42FA5F;
            }
            .pizza-status.status-pending i, .pizza-status.status-paused i {
                background: #FDC500;
            }
            .pizza-status.status-rejected i, .pizza-status.status-disabled i, .pizza-status.status-sold-out i {
                background: #FF3B3B;
            }