.custom-pizza-form .mainHeading {
    text-transform: uppercase;
    margin: 2em 0 60px;
}

.custom-pizza-form h2 {
    font-size:24px;
    line-height:30px;
    font-weight:bold;
    color:#fff;
    margin-bottom:32px;
}

.custom-pizza-form form {
    display:flex;
    flex-direction:column;
    color:#fff;
}

    .custom-pizza-form form label.instructions {
        font-size:12px;
        line-height:15px;
        font-weight: 300;
    }
    .custom-pizza-form form label.instructions:first-child {
        margin-bottom:16px;
    }

    #image-upload {
        width:100%;
        height:0;
        padding-bottom:100%;
        border-radius: 10px;
        margin-top:16px;
        position:relative;
        overflow:hidden;
    }
        #pizza-container {
            width:100%;
            height:100%;
            border: 1px solid #292437;
            position:absolute;
            top:0;
            left:0;
        }
            #pizza-container img {
                display:block;
            }
                img#pizza-template {
                    position:relative;
                    z-index:5;
                }
                img#user-image {
                    width:100%;
                    height:100%;
                    object-fit:cover;
                    position:absolute;
                    top:0;
                    left:0;
                }

            #pizza-container svg {
                display:none;
                position:absolute;
                left:0;
                top:0;
                z-index:10;
            }
                #pizza-container svg text {
                    text-transform:uppercase;
                }

        #file-input {
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
        }
            #file-input label {
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:center;
                width:27%;
                height:27%;
                font-size:12px;
                text-align:center;
                cursor:pointer;
                z-index:10;
                position:relative;
            }
                #file-input input {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                    #file-input label strong {
                        display:block;
                        margin-top:15px;
                    }
                        #file-input label:hover strong {
                            text-decoration:underline;
                        }
                    #file-input label:before {
                        display:block;
                        content:"";
                        width:100%;
                        height:100%;
                        opacity: 0.4;
                        border: 2px dashed rgba(255,255,255,0.4);
                        border-radius: 5px;
                        position:absolute;
                        top:50%;
                        left:50%;
                        transform:translateX(-50%) translateY(-50%);
                    }
                #file-input .upload-arrow {
                    width:30px;
                }

    .form-fields {
        display:flex;
        flex-direction:column;
        row-gap:30px;
        margin-top:30px;
    }
        #pizza-form label.small {
            display:flex;
            align-items:center;
            margin-top:-25px;
        }
            #pizza-form label.small span {
                display:inline-block;
                margin-left:5px;
            }

        #pizza-form label.error {
            align-self:flex-start;
            margin-top:.5rem;
            color:red;
            border:1px solid red;
            padding:0 5px;
        }

        #pizza-form select, #pizza-form input[type="text"], #pizza-form textarea {
            display:block;
            width:100%;
            height:34px;
            line-height:34px;
            background: #292437;
            color: #fff;
            font-weight:bold;
            border:none;
            border-radius: 10px;
            margin-top:16px;
            padding:0 16px;
            outline:none;
            -webkit-appearance: none;
            appearance: none;
        }
        #pizza-form textarea {
            height:auto;
        }
        #pizza-form select {
            background-image:url(/img/dropdown-arrow.svg);
            background-repeat:no-repeat;
            background-position:calc(100% - 15px) center;
        }
            #pizza-form select.error, #pizza-form input[type="text"].error, #pizza-form textarea.error {
                border:1px solid red;
            }

#pizza-comp {
    width:1000px;
    height:1000px;
    position:absolute;
    right:200%;
}

/* Mint Header */
#mint-header h1 {
    margin-bottom:0;
}
#mint-header p {
    color:#fff;
    font-weight:300;
    text-align:center;
    margin:40px 0 0;
}

/* Mint Nav */
#mint-nav ol {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:40px;
    list-style-type:none;
    padding:0;
    margin:40px 0;
    position:relative;
}
    #mint-nav ol:before, #mint-nav ol:after {
        content:"";
        display:block;
        width:calc(100% - 32px);
        height:3px;
        background-color:#4A4555;
        position:absolute;
        top:50%;
        left:20px;
        transform:translateY(-50%);
        z-index:-2;
    }
        #mint-nav ol:after {
            background-color:#FAEDD7;
            width:0;
            transition:all .5s ease-in-out;
        }
        #mint-nav ol[data-step="2"]:after {
            width:calc(100% / 3);
        }
        #mint-nav ol[data-step="3"]:after {
            width:calc(100% / 3 * 2 - 20px);
            /*width:calc(125% / 2);*/
        }
        #mint-nav ol[data-step="4"]:after {
            width:calc(100% - 30px);
        }

#mint-nav li {
   
}
    #mint-nav li a {
        display:flex;
        align-items:center;
        justify-content:center;
        width:40px;
        height:40px;
        font-size:16px;
        line-height:24px;
        font-weight:bold;
        color:#ADA9B1;
        text-decoration:none;
        overflow:hidden;
        position:relative;
        transition:all .5s ease-in-out;
        cursor:not-allowed;
    }
        #mint-nav li a.active-step {
            cursor:default;
        }
        #mint-nav li a.previous-step {
            color:#050407;
            cursor:pointer;
        }
            #mint-nav li a.previous-step:before {
                background-color:#FAEDD7;
            }
        #mint-nav li a:before {
            content:"";
            display:block;
            width:32px;
            height:32px;
            border-radius:40px;
            background-color:#4A4555;
            position:absolute;
            top:50%;
            left:50%;
            transform:translateX(-50%) translateY(-50%);
            transition:all .5s ease-in-out;
            z-index:-1;
        }
        #mint-nav li a.previous-step:hover, #mint-nav li a.active-step {
            font-size:24px;
            color:#050407;
        }
            #mint-nav li a.previous-step:hover:before, #mint-nav li a.active-step:before {
                width:40px;
                height:40px;
                background-color:#FAEDD7;
            }

/* Mint Sections */
.mint-section {
    display:none;
}
    .mint-section.active-step {
        display:block;
    }


/* Mint Form Buttons */
#mint-section-buttons {
    display:flex;
    flex-direction:column;
}
    #mint-section-buttons a {
        display:block;
        width:auto;
        margin:30px auto 0;
        padding-left:40px;
        padding-right:40px;
        align-self:center;
    }